body {
    background-color: #2c3e50;
}

.table-container {
    margin-top: 20px;
}

h3{
    color:gainsboro;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.bottom-buttons {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding: 15px;
    text-align: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: black;
}

.table-container table th,
.table-container table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 4px solid #ddd;
}

.table-container table th {
    background-color: #343a40;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid #343a40;
}

.table-container table tbody tr:hover {
    background-color: #f8f9fa;
}

.table-container table td.actions {
    white-space: nowrap;
}

.content-container {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color:ghostwhite;
}
.form-control {
    border: 3px solid #ddd;
}
